.parent{
    width: 500px;
    height:500px;
    /* display:flex; */
    justify-content: center;
    align-items: center; 
    align-content: center;
 
    flex-wrap: wrap; 
    background-color:palevioletred;
}
.day{
    color:black;
    font-size: 25px;
    display:flex;
   
    height:100px;
    justify-content: center;

} 